/*
Author:Arturas Z.
www:www.techgin.com
vers:1.4.2
*/
.ov_auto{overflow:auto}
.ov_visible{overflow:visible}
.ov_scroll{overflow:scroll}
.ov_hidden{overflow:hidden}
.none{display:none}
.block{display:block}
.inline{display:inline}
.inline_bl{displaY:inline-block}
.inline_tb{displaY:inline-table}
.d_inherit{display:inherit}
.d_tb{display:table}
.d_tb_row{display:table-row}
.d_tb_cell{display:table-cell}
.d_tb_clm{display:table-column}
.clear,.cl_both{clear:both}
.cl_left{clear:left}
.cl_right{clear:right}
.left{float:left}
.right{float:right}
.lnone{list-style-type:none}
.underline{text-decoration:underline}
.upper{text-transform:uppercase}
.txt_center{text-align:center}
.txt_left{text-align:left}
.txt_right{text-align:right}
.txt_justify{text-align:justify}
.fw300{font-weight:300}
.f400{font-weight:400}
.bold,.fw700,.f700,.strong{font-weight:700}
.fw900{font-weight:900}
.italic{font-style:italic}
.fs8{font-size:8px}
.fs9{font-size:9px}
.fs10{font-size:10px}
.fs11{font-size:11px}
.fs12{font-size:12px}
.fs14{font-size:14px}
.fs16{font-size:16px}
.fs18{font-size:18px}
.fs20{font-size:20px}
.fs21{font-size:21px}
.fs24{font-size:24px}
.fs28{font-size:28px}
.fs36{font-size:36px}
.fs48{font-size:48px}
.fs64{font-size:64px}
.fs72{font-size:72px}
.mauto,.center{margin:0 auto}
.m0{margin:0}
.m5{margin:5px}
.m10{margin:10px}
.m20{margin:20px}
.m25{margin:25px}
.m30{margin:30px}
.m40{margin:40px}
.m50{margin:50px}
.m60{margin:60px}
.m70{margin:70px}
.m80{margin:80px}
.m90{margin:90px}
.m100{margin:100px}
.mt0{margin-top:0}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mt50{margin-top:50px}
.mt60{margin-top:60px}
.mt70{margin-top:70px}
.mt80{margin-top:80px}
.mt90{margin-top:90px}
.mt100{margin-top:100px}
.ml0{margin-left:0}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}
.ml40{margin-left:40px}
.ml50{margin-left:50px}
.ml60{margin-left:60px}
.ml70{margin-left:70px}
.ml80{margin-left:80px}
.ml90{margin-left:90px}
.ml100{margin-left:100px}
.mr0{margin-right:0}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr20{margin-right:20px}
.mr25{margin-right:25px}
.mr30{margin-right:30px}
.mr40{margin-right:40px}
.mr50{margin-right:50px}
.mr60{margin-right:60px}
.mr70{margin-right:70px}
.mr80{margin-right:80px}
.mr90{margin-right:90px}
.mr100{margin-right:100px}
.mb0{margin-bottom:0}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb40{margin-bottom:40px}
.mb50{margin-bottom:50px}
.mb60{margin-bottom:60px}
.mb70{margin-bottom:70px}
.mb80{margin-bottom:80px}
.mb90{margin-bottom:90px}
.mb100{margin-bottom:100px}
.p0{padding:0}
.p5{padding:5px}
.p10{padding:10px}
.p20{padding:20px}
.p25{padding:25px}
.p25{padding:25px}
.p50{padding:50px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt20{padding-top:20px}
.pt25{padding-top:25px}
.pt50{padding-top:50px}
.pl10{padding-left:10px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl20{padding-left:20px}
.pl25{padding-left:25px}
.pl50{padding-left:50px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr20{padding-right:20px}
.pr25{padding-right:25px}
.pr50{padding-right:50px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb20{padding-bottom:20px}
.pb25{padding-bottom:25px}
.pb50{padding-bottom:50px}
.ptb5{padding:5px 0}
.ptb10{padding:10px 0}
.ptb20{padding:20px 0}
.ptb25{padding:25px 0}
.ptb50{padding:50px 0}
.plr5{padding:0 5px}
.plr10{padding:0 10px}
.plr20{padding:0 20px}
.plr25{padding:0 25px}
.plr50{padding:0 50px}
.w5{width:5px}
.w10{width:10px}
.w20{width:20px}
.w25{width:25px}
.w30{width:30px}
.w40{width:40px}
.w50{width:50px}
.w60{width:60px}
.w70{width:70px}
.w80{width:80px}
.w90{width:90px}
.w100{width:100px}
.w200{width:200px}
.w300{width:300px}
.w400{width:400px}
.w500{width:500px}
.w600{width:600px}
.w700{width:700px}
.w800{width:800px}
.w900{width:900px}
.w940{width:940px}
.w960{width:960px}
.w1000{width:1000px}
.w1240{width:1240px}
.w1280{width:1280px}
.w1600{width:1600px}
.w5p{width:5%}
.w10p{width:10%}
.w20p{width:20%}
.w25p{width:25%}
.w30p{width:30%}
.w40p{width:40%}
.w50p{width:50%}
.w60p{width:60%}
.w70p{width:70%}
.w80p{width:80%}
.w90p{width:90%}
.w100p{width:100%}
.hauto{height:auto}
.h0{height:0}
.h5{height:5}
.h10{height:10px}
.h20{height:20px}
.h25{height:25px}
.h30{height:30px}
.h40{height:40px}
.h50{height:50px}
.h60{height:60px}
.h70{height:70px}
.h80{height:80px}
.h90{height:90px}
.h100{height:100px}
.h200{height:200px}
.h300{height:300px}
.h400{height:400px}
.h500{height:500px}
.bradius5{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.bradius10{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
.bradius15{-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px}
.bradius20{-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px}
.bradius25{-webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px}
.bradius50p{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.vlast{margin-right:0;border:none}/*last vertical */
.hlast{margin-bottom:0;border:none}/* last horizontal */
/* helpers */
.no_bootstrap{margin:0!important;padding:0!important}
/* responsive grid */
*,*:after,*:before{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
[class*='cell']{float:left;margin:1%}
[class*='cell']:last-of-type{margin:1% 0 1% 1%}
.line:after{content:"";display:table;clear:both}
.cell12,.cell2_of_2,.cell_4_of_4,.cell6_of_6,.cell8_of_8{width:98%}
.cell11{width:89.663%}
.cell10,.cell5_of_6{width:81.33%}
.cell9,.cell_3_of_4,.cell4_of_6,.cell6_of_8{width:73%}
.cell8{width:64.664%}
.cell7{width:56.331%}
.cell6,.cell1_of_2,.cell2_of_4,.cell3_of_6,.cell4_of_8{width:48%}
.cell5{width:39.655%}
.cell4,.cell2_of_6{width:31.3333%}
.cell3,.cell1_of_4,.cell2_of_8,.cell_3_of_12,.cell2_of_8{width:23%}
.cell2,.cell1_of_6{width:14.666%}
.cell1{width:6.333%}
/*tablet to small desktop*/
@media (min-width:801px) and (max-width:1024px){.cell2,.cell7{width:98%}
.cell4,.cell8,.cell10,.cell12{width:48%}
.cell1_of_6{width:98%}
.cell2_of_6,.cell5_of_6,.cell2_of_2,.cell_4_of_4,.cell6_of_6,.cell8_of_8{width:48%}}
/*base tablet*/
@media (min-width:481px) and (max-width:800px){.cell4,.cell6,.cell8,.cell10,.cell12{width:48%}
.cell1,.cell2,.cell3,.cell5,.cell7,.cell9,.cell11{width:98%}
.cell2_of_6,.cell1_of_2,.cell2_of_4,.cell3_of_6,.cell4_of_8,.cell5_of_6,.cell2_of_2,.cell_4_of_4,.cell6_of_6,.cell8_of_8{width:48%}
.cell1_of_6,.cell1_of_4,.cell2_of_8,.cell_3_of_12,.cell2_of_8,.cell_3_of_4,.cell4_of_6,.cell6_of_8{width:98%}}
/*base mobile styles - everything 100%*/
@media (min-width:0px) and (max-width:480px){.cell1,.cell2,.cell3,.cell4,.cell5,.cell6,.cell7,.cell8,.cell9,.cell10,.cell11,.cell12{width:98%}
.cell1_of_6,.cell1_of_4,.cell2_of_8,.cell_3_of_12,.cell2_of_8,.cell2_of_6,.cell1_of_2,.cell2_of_4,.cell3_of_6,.cell4_of_8,.cell_3_of_4,.cell4_of_6,.cell6_of_8,.cell5_of_6,.cell2_of_2,.cell_4_of_4,.cell6_of_6,.cell8_of_8{width:98%}}
.img_res{display:block;max-width:100%;height:auto}
